In [2]:
#Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.

import numpy as np
import pandas as pd

ds = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B')
s=pd.Series(np.random.rand(len(ds)), index=ds)
s

2015-01-01    0.733031
2015-01-02    0.080422
2015-01-05    0.109994
2015-01-06    0.693626
2015-01-07    0.469412
2015-01-08    0.721243
2015-01-09    0.740437
2015-01-12    0.449223
2015-01-13    0.187549
2015-01-14    0.186023
2015-01-15    0.484002
2015-01-16    0.928964
2015-01-19    0.883629
2015-01-20    0.076847
2015-01-21    0.258477
2015-01-22    0.366711
2015-01-23    0.726236
2015-01-26    0.364851
2015-01-27    0.994756
2015-01-28    0.646392
2015-01-29    0.048278
2015-01-30    0.639819
2015-02-02    0.242678
2015-02-03    0.906018
2015-02-04    0.930615
2015-02-05    0.809776
2015-02-06    0.371668
2015-02-09    0.312688
2015-02-10    0.105935
2015-02-11    0.457896
                ...
2015-11-20    0.066935
2015-11-23    0.367209
2015-11-24    0.497241
2015-11-25    0.275731
2015-11-26    0.404269
2015-11-27    0.471079
2015-11-30    0.215032
2015-12-01    0.251889
2015-12-02    0.552424
2015-12-03    0.067908
2015-12-04    0.229762
2015-12-07    0.023850
2015-12-08    0.798296
2015-12-09    0.203442
2015-12-10    0.437839
2015-12-11    0.980864
2015-12-14    0.012081
2015-12-15    0.324892
2015-12-16    0.884950
2015-12-17    0.440522
2015-12-18    0.315080
2015-12-21    0.013486
2015-12-22    0.355491
2015-12-23    0.941320
2015-12-24    0.131365
2015-12-25    0.275917
2015-12-28    0.016247
2015-12-29    0.960011
2015-12-30    0.548485
2015-12-31    0.300692
Freq: B, Length: 261, dtype: float64

In [5]:
#Find the sum of the values in s for every Wednesday
s[ds.weekday==2].sum()

26.891629029856098

In [6]:
#Average For each calendar month
s.resample('M').mean()

2015-01-31    0.490451
2015-02-28    0.477681
2015-03-31    0.509971
2015-04-30    0.596141
2015-05-31    0.483542
2015-06-30    0.558003
2015-07-31    0.503277
2015-08-31    0.518606
2015-09-30    0.397477
2015-10-31    0.500057
2015-11-30    0.491207
2015-12-31    0.394209
Freq: M, dtype: float64

In [7]:
#For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

s.groupby(pd.Grouper(freq='4M')).max()

2015-01-31    0.994756
2015-05-31    0.999221
2015-09-30    0.995584
2016-01-31    0.980864
dtype: float64